/* Write your CSS here */

.cardContainer {
  height: 40vh;
  width: 30vw;
  padding: 20px;
  box-shadow: 50px inset;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
}
.heading {
  color: #0b69ff;
  text-align: center;
  margin-top: 25px;
}
.instructions {
  color: #333333;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}
.Generate {
  text-align: center;
}
.but {
  background-color: #0b69ff;
  border-width: 0px;
  border-radius: 8px;
  height: 6vh;
  width: 117px;
  text-align: center;
  color: #ffffff;
}
